@layer components {
  /* Heading Styles */
  .heading-2 {
    font-size: var(--font-4xl);
    font-weight: 700;
    margin-bottom: 2.5rem;
  }

  .heading-3 {
    font-size: var(--font-2xl);
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  /* Paragraph Styles */
  .paragraph {
    font-size: var(--font-base);
    margin-bottom: 1rem;
    max-width: 42rem;
  }
  
  
}
